body {
    font-family: 'Segoe UI', Tahoma;
}
div.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background: transparent;
    padding-top: 4em;
}

header{
    padding: 1em;
    color: black;
    clear: left;
    height: 600 px;
    text-align: center;
    background: transparent no-repeat;
    color: #555;
}

img.image {
    margin-left: 100px;
}

nav.navbar {
    float: left;
    max-width: 160px;
    margin: 30;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 1em;
    }
        
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none; 
    color: #555;
    text-align: center;
    display: inline-block; 
    padding: 14px;
    text-decoration: none;
    position: relative;
    left: 0px;
    background-size:100%;
    background-repeat:no-repeat;
}

nav ul a:hover {
    color: #ccc;
}
    p {
    text-indent: 20px;
}

article.content {
    margin-left: 190px;
    padding: 1em;
    overflow: hidden;
    color: #555;
}
